.chip {
  border-radius: 1rem;
  color: white;
  font-size: .9rem;
  padding: .2rem .8rem;
  margin: .4rem;
  display: inline-block;
  cursor: pointer;
  position: relative;

  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    background-color: silver;
    color: #fff;
    text-align: center;
    padding: .5rem .8rem;
    border-radius: 6px;
    margin-bottom: .4rem;
    transition: all 0.2s ease;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    min-width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    white-space: nowrap;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.chip:hover {
  .tooltiptext {
    visibility: visible;
  }
}



